<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="./css/styles.css">
    <script src="./shared/viewKeys.js"></script>
    <title>
        <%=keys.pagesNames.homeText%>
    </title>
</head>

<body style="background-color: #e3f2fd;">
    <!--header-->
    <%- include('./shared/header') %>
        <!--end header-->
        <div class="container" style="margin-bottom: 50px; margin-top: 50px;">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 100%; max-height: 450px;">
                <div class="row">
                    <img class="img-fluid" alt="Lights" style="width:100%" src="./../shared/images/homebanne.jpeg">

                </div>
                <div class="page-header">
                    <h1 class="h1 text-info">
                        <%= keys.key.greetings%>
                            <br>
                            <a href="./pages/categories/categories"><small class="text-muted">
                                    <%=keys.key.webSiteName%>
                                </small>
                            </a>
                    </h1>
                    <!--the content goes here-->
                    <%- include('./shared/shortCut') %>
                        <h1 class="h1 text-info"><small class="text-muted">Estamos a su servicio</small>
                        </h1>
                        <p>
                            Estamos complacidos con su visita,
                            por favor disfrute mientras navega en nuestro sitio.
                        </p>
                        <p>
                            En este sitio usted encontrar치 toda clase de productos
                            que har치n m치s f치cil su vida.
                        </p>

                </div>
                <div id="content" class="container border-success mb-10" style="max-width: 850px;">
                    <!-- 
                    the content goes here
                -->

                    <!-- 
                    end content
                -->
                </div>
            </div>
        </div>
        <!--footer-->
        <%- include('./shared/footer') %>
            <!--end footer-->
            <script src="./shared/customFormControllers.js"></script>
            <script src="./shared/pleaseWait.js"></script>
            <script src="./js/ajax/category.js"></script>
            <script src="./js/ajax/product.js"></script>
            <script src="./js/ajax/user.js"></script>
            <script>

                window.onload = async function () {

                    sessionStorage.getItem('allProducts') == null ? await getProducts() : console.log('products allready loaded');
                    sessionStorage.getItem("categories") == null ? await getCategories() : console.log('categories allready loaded');

                    //it gives some time to load the data needed
                    showPleaseWait();
                    setTimeout(async () => {
                        hidePleaseWait();
                    }, 3000);
                    var prods = sessionStorage.getItem('allProducts');
                    prods = JSON.parse(prods);
                    var categories = sessionStorage.getItem('categories');
                    categories = JSON.parse(categories);
                }
            </script>
</body>

</html>