<!DOCTYPE html>
<html>

<head>
    <%- include('../../../shared/parsials/head')%>
        <title>
            <%= keys.pagesNames.adminProductText%>
        </title>

</head>

<body style="background-color: #e3f2fd;">
    <!-- header -->
    <%- include('../../../shared/header')%>
        <!-- end header -->
        <div class="container" style="margin-bottom: 50px; margin-top: 50px;" onclick="toggleNav()">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                style="max-width: 100%; min-height: 420px;max-height: 450px;">
                <div class="card border-success mb-10" style="margin-top: 20px">

                    <div class="card" style="margin: 10px">
                        <button id="hideAndShowButtonMessage" class="btn btn-info btn-lg"
                            onclick="hideAndShowDivFuction()" style="margin: 10px">
                            <%= keys.key.hideAndShowButtonMessage%>
                        </button>
                    </div>
                    <div id="container-add-product-form" class="container-fluid" style="display: none;">
                        <br>
                        <div class="d-flex justify-content-center">
                            <h3 class="text-info" id="addUpdateProducts">
                                <%= keys.key.addUpdateProducts%>
                            </h3>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 class="text-danger" id="productFormMessage" style="margin: 20px;"></h5>
                            <button class="btn btn-warning" id="btnResetForm" onclick="clearForm()"
                                style="visibility: hidden;">
                                <%= keys.key.btnResetFormText%>
                            </button>
                        </div>



                        <div class="form-group">
                            <form id="add-product-form" class="container" style="margin: 20px">
                                <div class="form-group">
                                    <label for="name">
                                        <%= keys.key.placeHolderProductName%>
                                    </label>
                                    <input type="text" class="form-control" ,
                                        placeholder="<%= keys.key.placeHolderProductName%>" id="name" name="name"
                                        required>
                                </div>
                                <div class="form-group" style="display: none;">
                                    <input type="text" class="form-control" name="idProduct" placeholder="Id product">
                                </div>
                                <div class="form-group">
                                    <label for="price">
                                        <%= keys.key.placeHolderProductPrice%>
                                    </label>
                                    <input type="number" class="form-control"
                                        placeholder="<%= keys.key.placeHolderProductPrice%>" name="price" id="price"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="stateSelect" id="selectProductCategoryMessage">
                                        <%= keys.key.selectProductCategoryMessage%>
                                    </label>
                                    <select class="form-control" id="categorySelect" name="categorySelect"></select>
                                </div>
                                <div class="form-group">
                                    <label for="showPrice" id="showProductPriceMessage">
                                        <%= keys.key.showProductPriceMessage%>
                                    </label>
                                    <select class="form-control" name="showPrice" id="showPrice">
                                        <option value="true">Yes</option>
                                        <option value="false">Not</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="activ" id="productStateMessage">
                                        <%= keys.key.productStateMessage%>
                                    </label>
                                    <select class="form-control" name="activ" id="activ">
                                        <option value="1">Activ</option>
                                        <option value="0">Inactiv</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="placeHolderProductDescription">
                                        <%= keys.key.placeHolderProductDescription%>
                                    </label>
                                    <textarea type="text" class="form-control"
                                        placeholder="<%= keys.key.placeHolderProductDescription%>" id="description"
                                        name="description" required></textarea>
                                </div>
                                <div class="form-group" data-provide="datepicker">
                                    <label for="creationDate" id="creationdateMessage">
                                        <%= keys.key.creationdateMessage%>
                                    </label>
                                    <input type="date" id="creationDate" name="creationDate" disabled="true"
                                        class="form-control">

                                </div>
                                <div class="form-group" data-provide="datepicker">
                                    <label for="modificationDate" id="lastModificationMessage">
                                        <%= keys.key.lastModificationMessage%>
                                    </label>
                                    <input type="date" name="modificationDate" id="modificationDate"
                                        name="modificationDate" disabled="true" class="form-control">

                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type='file' accept=".jpg, .jpeg|image/*" class='custom-file-input'
                                            id='inputGroupFile01' name="inputGroupFile01"
                                            onchange="readImageURL(this, 'imageFirebase');" />
                                        <label id="inputImage" class="custom-file-label" for="inputGroupFile01">
                                            <%= keys.key.chooseFileMessage%>
                                        </label>
                                    </div>
                                </div>
                                <div class="d-md-flex">
                                    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                                        style="max-width: 100%; max-height: 350px;">
                                        <img class="img-fluid" alt="Responsive image" id="imageFirebase" src="#" />
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                                        id="btnProductPormSubmit">
                                        <%= keys.key.btnProductPormSubmit%>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--info category and product list-->
                <div class="card border-success mb-10" style="margin-top: 20px">

                    <div id="category-product-list" class="container">
                        <h2 id="productListH1" class="text-info" style="margin: 10px">
                            <%= keys.key.productListH1%>
                        </h2>
                    </div>

                </div>

                <%- include('./purchase/purchaseModal')%>
                    <!-- end purchase modal -->
                    <!-- sales modal -->
                    <%- include('./sales/salesModal')%>
                        <!-- end sales modal -->

                        <%- include('../../../shared/parsials/productDetailModal')%>
            </div>

        </div>
        <!-- footer -->
        <%- include('../../../shared/footer')%>
            <!-- end footer -->
            <script src="../js/ajax/category.js"></script>
            <script src="../js/ajax/product.js"></script>
            <script src="../admin/js/filesFunctions.js"></script>
            <script src="../../../shared/commonFuctions.js"></script>
            <script src="../admin/pages/products/product.js"></script>
            <script src="../../../js/serverCalls/purchase.js"></script>
            <script src="../admin/pages/products/purchase/purchase.js"></script>
            <script src="../../../js/serverCalls/sales.js"></script>
            <script src="../admin/pages/products/sales/sales.js"></script>
            <script src="../admin/pages/products/receipt/receipt.js"></script>
            <script src="../../../js/serverCalls/product.js"></script>
            <script src="../../../js/serverCalls/receiptType.js"></script>
            <script src="../../../js/serverCalls/profile.js"></script>
            <script src="../../../shared/parsials/productViewFunctions.js"></script>
</body>

</html>