<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-storage.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.1.2/firebase-firestore.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <script src="../../../shared/viewKeys.js"></script>
    <title>
        <%= keys.pagesNames.adminProductText%>
    </title>

</head>

<body style="background-color: #e3f2fd;">
    <!-- header -->
    <%- include('../../../shared/header')%>
        <!-- end header -->
        <div class="container" style="margin-bottom: 50px; margin-top: 50px;">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                style="max-width: 100%; min-height: 420px;max-height: 450px;">
                <div class="card border-success mb-10" style="margin-top: 20px">

                    <div class="card" style="margin: 10px">
                        <button id="hideAndShowButtonMessage" class="btn btn-info btn-lg"
                            onclick="hideAndShowDivFuction()" style="margin: 10px">
                            <%= keys.key.hideAndShowButtonMessage%>
                        </button>
                    </div>
                    <div id="container-add-product-form" class="container-fluid" style="display: none;">
                        <br>
                        <div class="d-flex justify-content-center">
                            <h3 class="text-info" id="addUpdateProducts">
                                <%= keys.key.addUpdateProducts%>
                            </h3>
                        </div>
                        <div class="d-flex justify-content-center">
                            <h5 class="text-danger" id="productFormMessage" style="margin: 20px;"></h5>
                            <button class="btn btn-warning" id="btnResetForm" onclick="clearForm()"
                                style="visibility: hidden;">
                                <%= keys.key.btnResetFormText%>
                            </button>
                        </div>



                        <div class="form-group">
                            <form id="add-product-form" class="container" style="margin: 20px">
                                <div class="form-group">
                                    <label for="name">
                                        <%= keys.key.placeHolderProductName%>
                                    </label>
                                    <input type="text" class="form-control" ,
                                        placeholder="<%= keys.key.placeHolderProductName%>" id="name" name="name"
                                        required>
                                </div>
                                <div class="form-group" style="display: none;">
                                    <input type="text" class="form-control" name="idProduct" placeholder="Id product">
                                </div>
                                <div class="form-group">
                                    <label for="price">
                                        <%= keys.key.placeHolderProductPrice%>
                                    </label>
                                    <input type="number" class="form-control"
                                        placeholder="<%= keys.key.placeHolderProductPrice%>" name="price" id="price"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="stateSelect" id="selectProductCategoryMessage">
                                        <%= keys.key.selectProductCategoryMessage%>
                                    </label>
                                    <select class="form-control" id="stateSelect" name="stateSelect"
                                        onChange="chageIndexSelected(this)"></select>
                                </div>
                                <div class="form-group">
                                    <label for="showPrice" id="showProductPriceMessage">
                                        <%= keys.key.showProductPriceMessage%>
                                    </label>
                                    <select class="form-control" name="showPrice" id="showPrice">
                                        <option value="true">Yes</option>
                                        <option value="false">Not</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="activ" id="productStateMessage">
                                        <%= keys.key.productStateMessage%>
                                    </label>
                                    <select class="form-control" name="activ" id="activ">
                                        <option value="1">Activ</option>
                                        <option value="0">Inactiv</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="placeHolderProductDescription">
                                        <%= keys.key.placeHolderProductDescription%>
                                    </label>
                                    <textarea type="text" class="form-control"
                                        placeholder="<%= keys.key.placeHolderProductDescription%>" id="description"
                                        name="description" required></textarea>
                                </div>
                                <div class="form-group" data-provide="datepicker">
                                    <label for="creationDate" id="creationdateMessage">
                                        <%= keys.key.creationdateMessage%>
                                    </label>
                                    <input type="date" id="creationDate" name="creationDate" disabled="true"
                                        class="form-control">

                                </div>
                                <div class="form-group" data-provide="datepicker">
                                    <label for="modificationDate" id="lastModificationMessage">
                                        <%= keys.key.lastModificationMessage%>
                                    </label>
                                    <input type="date" name="modificationDate" id="modificationDate"
                                        name="modificationDate" disabled="true" class="form-control">

                                </div>

                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">Upload</span>
                                    </div>
                                    <div class="custom-file">
                                        <input type='file' accept=".jpg, .jpeg|image/*" class='custom-file-input'
                                            id='inputGroupFile01' name="inputGroupFile01" onchange="readURL(this);" />
                                        <label id="inputImage" class="custom-file-label" for="inputGroupFile01">
                                            <%= keys.key.chooseFileMessage%>
                                        </label>
                                    </div>
                                </div>
                                <div class="d-md-flex">
                                    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                                        style="max-width: 100%; max-height: 350px;">
                                        <img class="img-fluid" alt="Responsive image" id="imageFirebase" src="#" />
                                    </div>
                                </div>

                                <div class="container-fluid">
                                    <button type="submit" class="btn btn-outline-success my-2 my-sm-0"
                                        id="btnProductPormSubmit">
                                        <%= keys.key.btnProductPormSubmit%>
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!--info category and product list-->
                <div class="card border-success mb-10" style="margin-top: 20px">

                    <div id="category-product-list" class="container">
                        <h2 id="productListH1" class="text-info" style="margin: 10px">
                            <%= keys.key.productListH1%>
                        </h2>
                    </div>

                </div>
                <!-- Modal -->
                <div class="modal fade" id="productDetailsModLabel" tabindex="-1" role="dialog"
                    aria-labelledby="productDetailsModLabelLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="productDetailsModLabelLabel">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="card">

                                    <div class="d-md-flex align-self-center">
                                        <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                                            style="max-width: 700px; max-height: 400px;">
                                            <br>
                                            <img style="margin: 20px" class="img-fluid align-self-center"
                                                alt="Responsive image" id="modalImageFirebase" src="#"><br>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">


                                <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                    id="btnCloseModal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- footer -->
        <%- include('../../../shared/footer')%>
            <!-- end footer -->
            <script src="../../js/credentials.js"></script>
            <script src="../../js/app.js"></script>
            <script src="../../../shared/customFormControllers.js"></script>

            <script src="../../js/models/products.js"></script>
            <script src="../../js/models/categories.js"></script>
            <script src="../../../shared/pleaseWait.js"></script>
            <script src="../../js/filesFunctions.js"></script>
            <script src="../../../shared/commonFuctions.js"></script>
            <script src="./product.js"></script>

</body>

</html>