<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#salesModal">
    Launch sales modal
</button>

<!-- Modal -->
<div class="modal fade" id="salesModal" tabindex="-1" role="dialog" aria-labelledby="btnSalesModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="btnSalesModalLabel">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="SalesForm">
                    <form id="add-Sales-form" class="container">
                        <div>
                            <h1>Receipt details</h1>
                        </div>
                        <!-- reciept details-->
                        <div class="form-group" style="display: none;">
                            <input type="text" class="form-control" name="idSales" placeholder="Id product">
                        </div>
                        <div class="form-group">
                            <label for="salesDescription" id="salesDescriptionLabel">
                                <%= keys.key.SalesDescriptionLabel%>
                            </label>
                            <textarea type="text" class="form-control"
                                placeholder="<%= keys.key.SalesDescriptionLabel%>" id="salesDescription"
                                name="salesDescription" required=""></textarea>
                        </div>
                        <div class="form-group">
                            <label for="" id="paymentStateLabel">
                                Pagado
                            </label>
                            <select class="form-control" name="salePaymentState" id="salePaymentState">
                                <option value="true">Si</option>
                                <option value="false">No</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="salePaymentMethod" id="salePaymentMethodLabel">
                                Forma de pago
                            </label>
                            <select class="form-control" name="salePaymentMethod" id="salePaymentMethod">
                                <option value="SINPE">SINPE</option>
                                <option value="Credito">Crédito</option>
                                <option value="Efectivo">Efectivo</option>
                            </select>
                        </div>
                        <div class="custom-file">
                            <input type='file' accept=".jpg, .jpeg|image/*" class='custom-file-input'
                                id='inputSalesFile' name="inputSalesFile"
                                onchange="readImageURL(this, 'inputSalesFile','salesImage');" />
                            <label id="inputImage" class="custom-file-label" for="inputSalesFile">
                                <%= keys.key.chooseFileMessage%>
                            </label>
                        </div>
                        <div class="d-md-flex">
                            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                                style="max-width: 100%; max-height: 350px;">
                                <img class="img-fluid" alt="Responsive image" id="salesImage" src="#" />
                            </div>
                        </div>
                        <!-- end receipt details-->
                        <!-- Sales details-->
                        <div>
                            <h1 id="salesName"></h1>
                        </div>
                        <div class="form-group" id="availableUnitsDiv" style="display: none;">
                            <label id="availableUnits">
                                Available units: 
                            </label>
                        </div>
                        <div class="form-group" id="salesUnitPriceDiv" style="display: none;">
                            <label for="salesUnitPrice" id="salesUnitPriceLabel">
                                <%= keys.key.unitPriceLabel%>
                            </label>
                            <input type="number" placeholder="<%= keys.key.SalesUnitPriceLabel%>" class="form-control"
                                name="salesUnitPrice" id="salesUnitPrice" min="1">
                        </div>
                        <div class="form-group" id="salesTottalUnitsDiv" style="display: none;">
                            <label for="salesTottalUnits" id="salesTottalUnitsLabel">
                                <%= keys.key.tottalUnitsLabel%>
                            </label>
                            <input type="number" placeholder=" <%=keys.key.SalesTottalUnitsLabel%>" class="form-control"
                                name="salesTottalUnits" id="salesTottalUnits" min="1" max="100">

                        </div>
                        <!-- end Sales details-->
                        <div class="container-fluid">
                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0" id="btnSalesSubmit">
                                <%= keys.key.nextStepMessage%>
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btnSalesModal">Save
                    changes</button>
            </div>
        </div>
    </div>
</div>
<!-- end Sales modal -->