<html>

<head>
    <%- include('./../shared/parsials/head')%>
        <title>
            <%=keys.key.webSiteName + " " + keys.pagesNames.aboutText%>
        </title>
</head>

<body style="background-color: #e3f2fd;">
    <!--header-->
    <%- include('./../shared/header')%>
        <!--end header-->
        <div class="container" style="margin-bottom: 50px; margin-top: 50px;" onclick="toggleNav()">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 100%; max-height: 450px;">

                <div class="row">
                    <img class="img-fluid" alt="Lights" style="width:100%" src="./../shared/images/homebanne.jpeg">

                </div>
                <div class="page-header">
                    <h1 class="h1 text-info">
                        <%=keys.pagesNames.aboutText%>
                            <br>
                            <a href="./categories/categories.html"><small class="text-muted" style="margin-left: 20px;">
                                    <%=keys.key.webSiteName%>
                                </small>
                            </a>
                    </h1>
                    <%- include('../shared/shortCut') %>
                        <h1 class="h1 text-info">
                            <small class="text-muted">Estamos a su servicio</small>
                        </h1>


                </div>
                <div id="content" class="container border-success mb-10" style="max-width: 850px;">
                    <!-- 
                    the content goes here
                -->
                    <p>
                        Estamos complacidos con su visita,
                        por favor disfrute mientras navega en nuestro sitio.
                    </p>
                    <p>
                        En este sitio usted encontrar치 toda clase de productos
                        que har치n m치s f치cil su vida.
                    </p>
                    <!-- 
                    end content
                -->
                </div>
            </div>





        </div>

        <script src="./../shared/pleaseWait.js"></script>
        <!--header-->
        <%- include('./../shared/footer')%>
            <!--end header-->
            <script src="./../js/appClient.js"></script>
            <script src="./../shared/customFormControllers.js"></script>
</body>

</html>