<html>

<head>
    <%- include('../shared/parsials/head')%>
    <!--Floating WhatsApp css-->
    <link rel="stylesheet" href="./../shared/whatappSuport/floating-wpp.min.css">
    <!--Floating WhatsApp javascript-->
    <script type="text/javascript" src="./../shared/whatappSuport/floating-wpp.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

    <title>
        <%=keys.key.webSiteName + " " + keys.pagesNames.contactText%>
    </title>
</head>

<body style="background-color: #e3f2fd;">
    <!--header-->
    <%- include('../shared/header') %>
        <!--end header-->
        <div class="container" style="margin-bottom: 100px; margin-top: 50px;" onclick="toggleNav()">
            <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light" style="max-width: 100%; max-height: 600px;">
                <div class="row">
                    <img class="img-fluid" alt="Lights" style="width:100%" src="./../shared/images/homebanne.jpeg">

                </div>
                <h1 class="h1 text-info">
                    <%=keys.key.btnContactText%>
                        <br>
                        <a href="./categories/categories"><small class="text-muted" style="margin-left: 20px;">
                                <%=keys.key.webSiteName%>
                            </small>
                        </a>
                </h1>
                <%- include('../shared/shortCut')%>
                    <div style="margin: 20">
                        <p>Usted puede enviarnos un correo electrónico
                            o un mensaje de whatsapp.
                        </p>
                    </div>
                    <div class="card border-success mb-10" style="max-width: 85rem;">


                        <!--the content goes here-->
                        <%- include('../shared/emailModalForm')%>

                    </div>
            </div>
        </div>
        <!--Div where the WhatsApp will be rendered-->
        <div id="WAButton" style="margin-bottom: 90px;"></div>
        <!--footer-->
        <%- include('../shared/footer') %>
            <!--end footer-->
            <script src="./../shared/customFormControllers.js"></script>
            <script src="./../shared/pleaseWait.js"></script>
            <script src="./../js/appClient.js"></script>
            <script src="./../js/commonFunctions.js"></script>

            <script>
                window.rootFile = './../';
                isMobile() ? emailForm.hidden = true : emailForm.hidden = false;
            </script>
            <!--
                https://blog.toky.co/es/agrega-un-boton-de-click-to-chat-para-whatsapp-a-tu-sitio-web/
        -->
            <script src="./../shared/whatappSuport/wppFunctions.js"></script>
</body>

</html>