<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="./../css/styles.css">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
        integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
        integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
        crossorigin="anonymous"></script>
    <!--Floating WhatsApp css-->
    <link rel="stylesheet" href="./../shared/whatappSuport/floating-wpp.min.css">
    <!--Floating WhatsApp javascript-->
    <script type="text/javascript" src="./../shared/whatappSuport/floating-wpp.min.js"></script>
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="./../css/styles.css">
    <script src="./../shared/viewKeys.js"></script>
    <title>
        <%= keys.key.webSiteName +" "+ keys.pagesNames.storeText%>
    </title>
</head>

<body style=" background-color: #e3f2fd;">
            <!--header-->
            <%- include('./../shared/header')%>
                <!--end header-->

                <div class="container" style="margin-bottom: 50px; margin-top: 50px;">

                    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                        style="max-width: 100%; max-height: 450px;">
                        <div class="row">
                            <div class="row">
                                <img class="img-fluid" alt="Lights" style="width:100%"
                                    src="./../shared/images/homebanne.jpeg">

                            </div>
                            <div>
                                <img src="./../shared/images/arrow-back.png" width="70" onclick="window.history.back()"
                                    style="margin: 20px">
                            </div>
                            <div class="page-header">
                                <h3 class="h3 text-info">
                                    <%=keys.key.productListH1%>
                                        <br>
                                        <small class="text-muted">&ensp;&ensp;
                                            <%=keys.key.webSiteName%>
                                        </small>
                                </h3>
                            </div>
                            <div style="margin: 20px;">
                                <%- include('../shared/shortCut')%>
                            </div>
                        </div>
                        <div class="card border-success mb-10" style="max-width: 85rem;">
                            <!--the content goes here-->


                            <div class="container" id="product-container">
                                <div class="row">
                                </div>
                            </div>
                            <div class="modal" tabindex="-1" role="dialog">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <p>Modal body text goes here.</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-primary">Save changes</button>
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                            <div class="modal fade" id="productDetailsModLabel" tabindex="-1" role="dialog"
                                aria-labelledby="productDetailsModLabelLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="productDetailsModLabelLabel">Modal title</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="card">

                                                <div class="d-md-flex align-self-center">
                                                    <div class="overflow-auto p-3 mb-3 mb-md-0 mr-md-3 bg-light"
                                                        style="max-width: 700px; max-height: 400px;">
                                                        <br>
                                                        <img style="margin: 20px" class="img-fluid align-self-center"
                                                            alt="Responsive image" id="imageFirebase" src="#"><br>

                                                    </div>

                                                </div>
                                                <div id="productDetails" class="container align-self-center">
                                                    <br>
                                                    <h4 class="text-info d-flex">Product details</h4>

                                                    <h2 class="name">
                                                        <small> Product by
                                                            <a href="javascript:void(0)" id="modalWebSiteName"></a>
                                                        </small>
                                                    </h2>
                                                    <h2 class="name" id="name">
                                                    </h2>
                                                    <h2 class="price-container" id="price"></h2>
                                                    <h2 class="price-container" id="whatsAppNumber"></h2>
                                                    <div class="description" id="description"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">


                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                                <%= keys.key.btnCloseLabel%>
                                            </button>

                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!--Div where the WhatsApp will be rendered-->
                    <div id="WAButton" style="margin-bottom: 50px;"></div>
                </div>
                <!--footer-->
                <%- include('./../shared/footer')%>
                    <!--end footer-->
                    <script src="./../shared/customFormControllers.js"></script>
                    <script>
                        window.rootFile = './../';
                    </script>
                    <script src="./../shared/pleaseWait.js"></script>

                    <script src="./../js/appClient.js"></script>
                    <script src="./store.js"></script>
                    <!--https://blog.toky.co/es/agrega-un-boton-de-click-to-chat-para-whatsapp-a-tu-sitio-web/-->
                    <script src="./../shared/whatappSuport/wppFunctions.js"></script>
                    </body>

</html>