<div class="pos-f-t">
    <nav class="navbar navbar-dark bg-dark">
        <a id="aHeadNab" class="navbar-brand collapsed" href="#" data-toggle="collapse" data-target="#header"
            aria-controls="header" aria-expanded="false" aria-label="Toggle navigation">
            <%= keys.key.headerMenuText%>
        </a>
        <button id="btnHeadNab" class="navbar-toggler collapsed" type="button" data-toggle="collapse"
            data-target="#header" aria-controls="header" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="navbar-collapse collapse" id="header">
            <ul class="navbar-nav mr-auto" id="headerItemBar">
                <li class="nav-item" id="headerHomeLink">
                    <a href="/" id="aheaderHomeLink" class="nav-link">
                        <%=keys.pagesNames.homeText%>
                    </a>
                </li>
                <li class="nav-item" id="headerAboutLink">
                    <a href="/pages/about" id="aheaderAboutLink" class="nav-link">
                        <%=keys.pagesNames.aboutText%>
                    </a>
                </li>
                <li class="nav-item" id="headerContactLink">
                    <a href="/pages/contact" id="aheaderContactLink" class="nav-link">
                        <%=keys.pagesNames.contactText%>
                    </a>
                </li>
                <% if (keys.currentUser !=null) { %>
                    <li class="nav-item dropdown" id="adminMenu">
                        <a href="#" class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <%=keys.key.adminMenuText%>
                        </a>

                        <div class="dropdown-menu dropdown-menu-right dropdown-info"
                            aria-labelledby="navbarDropdownMenuLink-4">


                            <a id="adminProductMenu" href="/products/?admProductPage" class="dropdown-item">
                                <%=keys.key.aAdminProductsMenu%>
                            </a>
                            <a id="adminCategoryMenu" href="/categories/?admCategoryPage" class="dropdown-item">
                                <%=keys.key.aAdminCategoriesMenu%>
                            </a>
                            <a id="adminProfileMenu" href="/profile" class="dropdown-item">
                                <%=keys.pagesNames.aAdminProfileMenu%>
                            </a>
                            <a id="adminProfileMenu" href="/settings" class="dropdown-item">
                                <%=keys.pagesNames.aSettings%>
                            </a>

                        </div>
                        </a>
                    </li>
                    <% } %>
                        <li class="nav-item" id="headerStoreLink">
                            <a href="/pages/categories/categories" id="aheaderStoreLink" class="nav-link">
                                <%=keys.pagesNames.storeText%>
                            </a>
                        </li>
                        <li class="nav-item" id="headerLoginLink">
                            <a href="/pages/login" id="aheaderLoginLink" class="nav-link">
                                <%=keys.pagesNames.aloginText%>
                            </a>
                        </li>
            </ul>
        </div>
    </nav>
</div>
<script>
    document.getElementById("aheaderContactLink").href
        == document.location.href != true
        ? console.log("no es contact")
        : document.getElementById("headerContactLink")
            .setAttribute("class", "nav-link disabled");
    document.getElementById("aheaderLoginLink").href
        == document.location.href != true
        ? console.log("no es login")
        : document.getElementById("headerLoginLink")
            .setAttribute("class", "nav-link disabled");
    document.getElementById("aheaderAboutLink").href
        == document.location.href != true
        ? console.log("no es about")
        : document.getElementById("headerAboutLink")
            .setAttribute("class", "nav-link disabled");
    document.getElementById("aheaderHomeLink").href
        == document.location.href != true ? console.log("no es Home")
        : document.getElementById("headerHomeLink")
            .setAttribute("class", "nav-link disabled");
    document.getElementById("aheaderStoreLink").href ==
        document.location.href != true ? console.log("no es Home")
        : document.getElementById("headerStoreLink")
            .setAttribute("class", "nav-link disabled");
    if (document.getElementById("adminMenu") != null) {
        document.getElementById("adminProductMenu").href
            == document.location.href != true
            ? console.log("no es product")
            : document.getElementById("adminProductMenu").href = "#";
        document.getElementById("adminCategoryMenu").href
            == document.location.href != true
            ? console.log("no es category")
            : document.getElementById("adminCategoryMenu").href = "#";

        var userOptions = document.getElementById("navbarDropdownMenuLink-4");
        if (userOptions == null) {

        } else {
            document.getElementById("aheaderLoginLink")
                .innerHTML = logOutMessage;
        }

    }
</script>

<script>
    let btnHeadNab = document.getElementById('btnHeadNab');
    let aHeadNab = document.getElementById('aHeadNab');
    navState = false;
    btnHeadNab.addEventListener("click", () => {
        navState = !navState;
    });
    aHeadNab.addEventListener("click", () => {
        navState = !navState;
    });
    function toggleNav() {
        navState
            ? changeNavState() :
            console.log("no need");
    }
    function changeNavState() {
        document.getElementById('header')
            .classList.toggle('show');
        navState = !navState;
    }
</script>